*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
.male{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.male-button, .female-button{
    color: #fff;
    font-size: 14px;
    margin: 40px auto 40px auto;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    overflow: hidden;
    background-color: rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}
.container{
    position: relative;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70%;
    height: 0;
    backdrop-filter: blur(5px);
    color: #ccc;
    transition: 0.3s ease-in-out;
    visibility: hidden;
}
.container--visible{
    height: 400px;
    visibility: visible;
}
.picture{
    margin: 30px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
}
.name{
    padding-right: 5px;
}
.adress-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 5px;
}
.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 5px;
    
}
.mail{
    padding: 0 5px;
    overflow-wrap: break-word;
}